
@{
    ViewBag.Title = "Roster";
}


@section Menu {
    @Scripts.Render("~/Scripts/Bundle/Roster/Roster/menu")
}

@Styles.Render("~/AdminLTE/Bundle/plugins/datatables/css")

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Roster List</h3>
            </div>
            <div class="box-body">
                <button style="width:35px" onclick="window.location.href= '@Url.Action("RosterDetails", "Roster", new { id = 0 })'" type="button" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Start Date</th>
                            <th>Start Time</th>
                            <th>End Date</th>
                            <th>End Time</th>
                            <th></th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.RosterList)
                        {

                            <tr>
                                <td>
                                    @item.StartDate.ToString("dd-MM-yyyy")
                                </td>
                                <td>
                                    @item.StartTime.ToString("hh:mm tt")
                                </td>
                                <td>
                                    @item.EndDate.ToString("dd-MM-yyyy")
                                </td>
                                <td>
                                    @item.FinishTime.ToString("hh:mm tt")
                                </td>
                               
                                <td width="5%">
                                    <button type="button" onclick="window.location.href= '@Url.Action("RosterDetails", "Roster", new { id = item.Id })'" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
                                </td>
                                @*<td width="5%">
                                        <button type="button" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-trash"></span></button>
                                    </td>*@
                            </tr>

                        }
                    </tbody>
                    @*<tfoot>
                            <tr>
                                <th>Rendering engine</th>
                                <th>Browser</th>
                                <th>Platform(s)</th>
                                <th>Engine version</th>
                                <th>CSS grade</th>
                            </tr>
                        </tfoot>*@
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/AdminLTE/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
    @Scripts.Render("~/Scripts/Bundle/User/Data")
}

