
@{
    ViewBag.Title = "Customer";
    ViewBag.SubTitle = "Team Map";
}

@section Menu {
    @Scripts.Render("~/Scripts/Bundle/Customer/Customer/menu")
}

@Styles.Render("~/AdminLTE/Bundle/plugins/datatables/css")

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Customer List</h3>
            </div>
          
                <div class="box-body">
                    @*<div class="pull-right">*@
                       
                        @using (Html.BeginForm("Upload", "Customer", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {


                            <div class="form-group pull-right">
                                <input type="submit" value="Upload" class="btn btn-default" />
                            </div>
                            <div class="form-group pull-right">
                                <input class="form-control" type="file" id="dataFile" name="upload" />
                            </div>


                        }
                    <button class="btn btn-primary pull-right" onclick="location.href='@Url.Action("DownloadExcel", "Customer")'" >
                        @*<input type="button" style="width:35px" class="btn btn-block btn-primary pull-right" onclick="location.href='@Url.Action("DownloadExcel", "Customer")'" />*@
                        <span style="padding-right:10px;" class="fa fa-file-excel-o"> </span>Download Template
                    </button>
                    @*</div>*@
                    <button style="width:35px" onclick="window.location.href= '@Url.Action("CustomerDetails", "Customer", new { id = 0 })'" type="button" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Customer Code</th>
                                <th>Customer Name</th>
                                <th>Contact Name</th>
                                <th>Landline</th>
                                <th>Email</th>
                                <th></th>
                                @*<th></th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @item.CustomerCode
                                    </td>
                                    <td>
                                        @item.OfficeName
                                    </td>
                                    <td>
                                        @item.FirstName
                                    </td>
                                    <td>
                                        @item.Phone1
                                    </td>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td width="5%">
                                        <button type="button" onclick="window.location.href= '@Url.Action("CustomerDetails", "Customer", new { id = item.Id })'" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
                                    </td>
                                    @*<td width="5%">
                                    <button type="button" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-trash"></span></button>
                                </td>*@
                                </tr>

                            }
                        </tbody>
                        @*<tfoot>
                        <tr>
                            <th>Rendering engine</th>
                            <th>Browser</th>
                            <th>Platform(s)</th>
                            <th>Engine version</th>
                            <th>CSS grade</th>
                        </tr>
                    </tfoot>*@
                    </table>
                </div>
</div>
    </div>
</div>

@section Scripts {
    @*@Scripts.Render("~/AdminLTE/Bundle/plugins/datatables/js")*@
    <script src="~/AdminLTE/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
    @Scripts.Render("~/Scripts/Bundle/Customer/Data")
}




