
@{
    ViewBag.Title = "UserDetails";
}

@Styles.Render("~/AdminLTE/Bundle/plugins/daterangepicker/css")
@Styles.Render("~/AdminLTE/Bundle/plugins/icheck/css")
@Styles.Render("~/AdminLTE/Bundle/plugins/colorpicker/css")
@Styles.Render("~/AdminLTE/Bundle/plugins/timepicker/css")
@Styles.Render("~/AdminLTE/Bundle/plugins/select2/css")
@Styles.Render("~/AdminLTE/Bundle/dist/css")
@Styles.Render("~/AdminLTE/Bundle/dist/css/skins")
@Styles.Render("~/Styles/Bundle/Elements/Modals")
<div class="box box-default">
    <div class="box-header with-border">
        @*<h3 class="box-title">Select2</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>*@
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" placeholder="Enter title">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Address1</label>
                        <input type="text" class="form-control" id="Address1" name="Address1" value="@Model.Address1" placeholder="Enter address1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Phone 1</label>
                        <input type="text" class="form-control" id="Phone1" name="Phone1" value="@Model.Phone1" placeholder="Enter phone1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" placeholder="Enter email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Zip Code</label>
                        <input type="text" class="form-control" id="ZipCode" name="ZipCode" value="@Model.ZipCode" placeholder="Enter zipCode">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Contact Name</label>
                        <input type="text" class="form-control" id="ContactName" name="ContactName" value="@Model.ContactName" placeholder="Enter contact name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Address2</label>
                        <input type="text" class="form-control" id="Address2" name="Address2" value="@Model.Address2" placeholder="Enter address2">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Phone2</label>
                        <input type="text" class="form-control" id="Phone2" name="Phone2" value="@Model.Phone2" placeholder="Enter phone2">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Website</label>
                        <input type="text" class="form-control" id="Website" name="Website" value="@Model.Website" placeholder="Enter website">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Save</button>
    </div>
    @*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Launch demo modal
        </button>*@

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    Save changes?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="savebtn" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/AdminLTE/Bundle/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/Bundle/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/Bundle/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/Bundle/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/Bundle/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/Bundle/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/Bundle/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Bundle/User/Advanced")
    <script type="text/javascript">

    $('#savebtn').click(function(){
        var data={ Id : @Model.Id,
            Address1 : $('#Address1').val(),
            Address2 : $('#Address2').val(),
            ContactName : $('#ContactName').val(),
            Email : $('#Email').val(),
            Lat : $('#Lat').val(),
            Lng : $('#Lng').val(),
            Phone1 : $('#Phone1').val(),
            Phone2 : $('#Phone2').val(),
            Title : $('#Title').val(),
            Website : $('#Website').val(),
            ZipCode : $('#ZipCode').val()}
        var url='@Url.Action("SaveDetails", "Company")';
        $.ajax({
            type:"POST",
            url:url,
            data: JSON.stringify(data) ,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function () {
                window.location.href= '@Url.Action("CompanyReport", "Company")';
            },
            error: function () {
                alert("Error while inserting data");
            }
        })
    });

    </script>

}
