
@{
    ViewBag.Title = "User Details";
    ViewBag.SubTitle = "Team Map";
}


@Styles.Render("~/Styles/Bundle/Elements/Modals")
@Styles.Render("~/AdminLTE/Bundle/plugins/daterangepicker/css")
@Styles.Render("~/AdminLTE/Bundle/plugins/icheck/css")
@Styles.Render("~/AdminLTE/Bundle/plugins/colorpicker/css")
@Styles.Render("~/AdminLTE/Bundle/plugins/timepicker/css")
@Styles.Render("~/AdminLTE/Bundle/plugins/select2/css")
@Styles.Render("~/AdminLTE/Bundle/dist/css")
@Styles.Render("~/AdminLTE/Bundle/dist/css/skins")


<div class="box box-default">
    <div class="box-header with-border">
        @*<h3 class="box-title">Select2</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>*@
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">First name</label>
                        <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName" placeholder="Enter first name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" placeholder="Enter email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Company</label>
                        <input type="text" class="form-control" id="Company" name="Company" value="@Model.CompanyId" placeholder="Enter company">
                    </div>
                </div>
               
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Group</label>
                        <input type="text" class="form-control" id="Email" name="Group" value="@Model.UserTeamId" placeholder="Enter group">
                    </div>
                </div>
                <div class="form-group">
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <label>Start time</label>
                            <div class="input-group">
                                <input type="text" class="form-control timepicker">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Emergency contact name</label>
                        <input type="text" class="form-control" id="EmergencyContact" name="EmergencyContact" value="@Model.EmergencyContact" placeholder="Enter emergency contact name">
                    </div>
                </div>
              
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">User name</label>
                        <input type="text" class="form-control" id="UserName" name="UserName" value="@Model.UserName" placeholder="Enter user name">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Surname</label>
                        <input type="text" class="form-control" id="SurName" name="SurName" value="@Model.SurName" placeholder="Enter surname">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Cellphone</label>
                        <input type="text" class="form-control" id="Cellphone" name="Cellphone" value="@Model.Cellphone" placeholder="Enter cellphone">
                    </div>
                </div>
                @*<div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Type</label>
                        <input type="text" class="form-control" id="Type" name="Type" value="@Model.UserType" placeholder="Enter type">
                    </div>
                </div>*@
                <div class="form-group">
                    <label>Type</label>
                    <select id="Type" class="form-control select2" value="@Model.UserType" style="width: 100%;">
                        <option value="2">Admin User</option>
                        <option value="3">Dashboard User</option>
                        <option value="4">App User</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label>Working days</label>
                        <select id="WorkingDays" class="form-control select2" multiple="multiple" data-placeholder="Select working days" style="width: 100%;">
                            <option value="1">Mon</option>
                            <option value="2">Tue</option>
                            <option value="3">Wed</option>
                            <option value="4">Thu</option>
                            <option value="5">Fri</option>
                            <option value="6">Sat</option>
                            <option value="7">Sun</option>
                        </select>
                    </div>
                </div>
                @*<div class="form-group">
                <div class="form-group">
                    <label for="exampleInputEmail1">End time</label>
                    <input type="text" class="form-control" id="EndTime" name="EndTime" value="@Model.EndTime" placeholder="Enter end time">
                </div>
            </div>*@
                <div class="form-group">
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <label>End time</label>
                            <div class="input-group">
                                <input type="text" class="form-control timepicker">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
         
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Emergency contact cellphone</label>
                        <input type="text" class="form-control" id="EmergencyContactNo" name="StartTime" value="@Model.EmergencyContactNo" placeholder="Enter emergency contact cellphone">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Password</label>
                        <input type="text" class="form-control" id="Password" name="Password" value="@Model.Password" placeholder="Enter password">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Save</button>
    </div>
    @*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Launch demo modal
        </button>*@

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    Save changes?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="savebtn" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {


@Scripts.Render("~/AdminLTE/Bundle/plugins/select2/js")
@*@Scripts.Render("~/AdminLTE/Bundle/plugins/input-mask/js")*@
@Scripts.Render("~/AdminLTE/Bundle/plugins/momentjs/js")
@Scripts.Render("~/AdminLTE/Bundle/plugins/daterangepicker/js")
@Scripts.Render("~/AdminLTE/Bundle/plugins/colorpicker/js")
@Scripts.Render("~/AdminLTE/Bundle/plugins/timepicker/js")
@Scripts.Render("~/AdminLTE/Bundle/plugins/icheck/js")
@Scripts.Render("~/Scripts/Bundle/User/Advanced")
    <script type="text/javascript">
        $("#Type").val("@Model.UserType").trigger("change");
        //$('#WorkingDays').select2();
        //$('#WorkingDays').val("[1,2,4]").trigger("change");
        var array = '@Model.WorkingDays'.split(',')
        $('#WorkingDays').select2().val(array).trigger("change")
    $('#savebtn').click(function(){
        var data={ Id : @Model.Id,
            Address1 : $('#Address1').val(),
            Address2 : $('#Address2').val(),
            ContactName : $('#ContactName').val(),
            Email : $('#Email').val(),
            Lat : $('#Lat').val(),
            Lng : $('#Lng').val(),
            Phone1 : $('#Phone1').val(),
            Phone2 : $('#Phone2').val(),
            Title : $('#Title').val(),
            Website : $('#Website').val(),
            ZipCode : $('#ZipCode').val()}
        var url='@Url.Action("SaveDetails", "Company")';
        $.ajax({
            type:"POST",
            url:url,
            data: JSON.stringify(data) ,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function () {
                window.location.href= '@Url.Action("CompanyReport", "Company")';
            },
            error: function () {
                alert("Error while inserting data");
            }
        })
    });

    </script>

}
